/* signup page */


.formdetails{
    margin-top: 5%;
    background-color: rgb(255, 255, 255);  
    border-radius: 4%; 
    text-align: center; 
    height: auto;
    width: 50%; 
    padding: 10px;
    width: 50%;
    padding: 60px;
    text-align: left;
    box-shadow: 12px 12px 27px; 
}


.signup{  
         background-color: rgb(255, 0, 0);   
         width: 60%;  
         color: rgb(255, 255, 255);   
         padding: 15px;   
         margin: 10px 0px;   
         border: none;   
         cursor: pointer; 
         border-radius: 10px;  
          } 


hr{
    
    width: 80%;

}






/* login page */
.login{
 
        margin-top: 10%;
        background-color: rgb(255, 255, 255);  
        border-radius: 4%; 
        text-align: center; 
        height: auto;
        width: 50%; 
        padding: 50px;
        box-shadow: 12px 12px 27px; 
    }






.loginFrom {  
   
           
      }   
      input[type=text], input[type=password],input[type=number] {   
        width: 100%;   
        margin: 8px 0;  
        padding: 12px 20px;   
        display: inline-block;   
        border: 2px solid rgb(0, 0, 0);   
        box-sizing: border-box;  
        border-radius: 10px;  
    }  

 button:hover {   
        opacity: 0.7;   
    }   

   .loginbtn{   
          background-color: rgb(255, 11, 11);   
          width: 60%;  
          color: white;   
          padding: 15px;   
          margin: 10px 0px;   
          border: none;   
          cursor: pointer; 
          border-radius: 10px;  
 } 
    